@import 'abstracts/variables';

/* Primary color for the background */
.gjs-one-bg {
    background-color: $backgroundColor;
  }
  
  /* Secondary color for the text color */
  .gjs-two-color {
    color:$blockTextColor;
  }
  
  /* Tertiary color for the background */
  .gjs-three-bg {
    background-color: #ec5896;
    color: white;
  }
  
  /* Quaternary color for the text color */
  .gjs-four-color,
  .gjs-four-color-h:hover {
    color: #ec5896;
  }

  .gjs-toolbar-item {
    color: #ffffff;
  }