@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap);
.gr-form-input-control {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding: 12px 22px;
  max-height: 45px; }
  .gr-form-input-control::placeholder {
    height: 43px;
    color: #bdbdbd;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter; }

::-webkit-input-placeholder {
  /* Edge */
  font-weight: light; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: light; }

::placeholder {
  font-weight: light; }

.gr-border {
  border: 1px solid #dee2e6; }

.gr-border-top {
  border-top: 1px solid #dee2e6; }

.gr-border-bottom {
  border-bottom: 1px solid #dee2e6; }

.gr-border-left {
  border-left: 1px solid #dee2e6; }

.gr-border-right {
  border-right: 1px solid #dee2e6; }

.gr-border-color-primary {
  border-color: #2a3d66; }

.gr-text-color-primary {
  color: #2a3d66; }

.gr-background-color-primary {
  background-color: #2a3d66; }

.gr-border-color-secondary {
  border-color: #5d54a4; }

.gr-text-color-secondary {
  color: #5d54a4; }

.gr-background-color-secondary {
  background-color: #5d54a4; }

.gr-border-color-tertiary {
  border-color: #9d65c9; }

.gr-text-color-tertiary {
  color: #9d65c9; }

.gr-background-color-tertiary {
  background-color: #9d65c9; }

.gr-border-color-white {
  border-color: #ffffff; }

.gr-text-color-white {
  color: #ffffff; }

.gr-background-color-white {
  background-color: #ffffff; }

.gr-border-color-black {
  border-color: #000000; }

.gr-text-color-black {
  color: #000000; }

.gr-background-color-black {
  background-color: #000000; }

.gr-border-color-gray1 {
  border-color: #333333; }

.gr-text-color-gray1 {
  color: #333333; }

.gr-background-color-gray1 {
  background-color: #333333; }

.gr-border-color-gray2 {
  border-color: #4f4f4f; }

.gr-text-color-gray2 {
  color: #4f4f4f; }

.gr-background-color-gray2 {
  background-color: #4f4f4f; }

.gr-border-color-gray3 {
  border-color: #828282; }

.gr-text-color-gray3 {
  color: #828282; }

.gr-background-color-gray3 {
  background-color: #828282; }

.gr-border-color-gray4 {
  border-color: #bdbdbd; }

.gr-text-color-gray4 {
  color: #bdbdbd; }

.gr-background-color-gray4 {
  background-color: #bdbdbd; }

.gr-border-color-gray5 {
  border-color: #e0e0e0; }

.gr-text-color-gray5 {
  color: #e0e0e0; }

.gr-background-color-gray5 {
  background-color: #e0e0e0; }

.gr-border-color-gray6 {
  border-color: #f2f2f2; }

.gr-text-color-gray6 {
  color: #f2f2f2; }

.gr-background-color-gray6 {
  background-color: #f2f2f2; }

.gr-border-color-gray7 {
  border-color: #f7f9fe; }

.gr-text-color-gray7 {
  color: #f7f9fe; }

.gr-background-color-gray7 {
  background-color: #f7f9fe; }

.gr-border-color-danger {
  border-color: #ff0000; }

.gr-text-color-danger {
  color: #ff0000; }

.gr-background-color-danger {
  background-color: #ff0000; }

.gr-border-color-success {
  border-color: green; }

.gr-text-color-success {
  color: green; }

.gr-background-color-success {
  background-color: green; }

.gr-border-color-navyblue {
  border-color: #0c94e5; }

.gr-text-color-navyblue {
  color: #0c94e5; }

.gr-background-color-navyblue {
  background-color: #0c94e5; }

.gr-border-color-orange {
  border-color: #fa4616; }

.gr-text-color-orange {
  color: #fa4616; }

.gr-background-color-orange {
  background-color: #fa4616; }

.gr-border-color-uipathblue {
  border-color: #d6f5ff; }

.gr-text-color-uipathblue {
  color: #d6f5ff; }

.gr-background-color-uipathblue {
  background-color: #d6f5ff; }

.gr-border-color-primary_2 {
  border-color: #363636; }

.gr-text-color-primary_2 {
  color: #363636; }

.gr-background-color-primary_2 {
  background-color: #363636; }

.gr-border-color-roseWhite {
  border-color: #faf3f0; }

.gr-text-color-roseWhite {
  color: #faf3f0; }

.gr-background-color-roseWhite {
  background-color: #faf3f0; }

.gr-border-color-darkGreen_1 {
  border-color: #02556d; }

.gr-text-color-darkGreen_1 {
  color: #02556d; }

.gr-background-color-darkGreen_1 {
  background-color: #02556d; }

.gr-border-color-lightGreen_1 {
  border-color: #30c8d6; }

.gr-text-color-lightGreen_1 {
  color: #30c8d6; }

.gr-background-color-lightGreen_1 {
  background-color: #30c8d6; }

.gr-border-color-purple {
  border-color: #8c30f5; }

.gr-text-color-purple {
  color: #8c30f5; }

.gr-background-color-purple {
  background-color: #8c30f5; }

.gr-border-color-purple1 {
  border-color: #b888f8; }

.gr-text-color-purple1 {
  color: #b888f8; }

.gr-background-color-purple1 {
  background-color: #b888f8; }

.gr-border-color-orange1 {
  border-color: #ff9655; }

.gr-text-color-orange1 {
  color: #ff9655; }

.gr-background-color-orange1 {
  background-color: #ff9655; }

.gr-border-color-red1 {
  border-color: #f87789; }

.gr-text-color-red1 {
  color: #f87789; }

.gr-background-color-red1 {
  background-color: #f87789; }

.gr-border-color-blue1 {
  border-color: #6ecac9; }

.gr-text-color-blue1 {
  color: #6ecac9; }

.gr-background-color-blue1 {
  background-color: #6ecac9; }

.gr-border-color-rosePink {
  border-color: #ead8ff; }

.gr-text-color-rosePink {
  color: #ead8ff; }

.gr-background-color-rosePink {
  background-color: #ead8ff; }

.gr-border-color-blue2 {
  border-color: #367bee; }

.gr-text-color-blue2 {
  color: #367bee; }

.gr-background-color-blue2 {
  background-color: #367bee; }

.gr-border-color-blue3 {
  border-color: #689ef9; }

.gr-text-color-blue3 {
  color: #689ef9; }

.gr-background-color-blue3 {
  background-color: #689ef9; }

.gr-border-color-green1 {
  border-color: #6fcf97; }

.gr-text-color-green1 {
  color: #6fcf97; }

.gr-background-color-green1 {
  background-color: #6fcf97; }

.gr-border-color-blue4 {
  border-color: #00348a; }

.gr-text-color-blue4 {
  color: #00348a; }

.gr-background-color-blue4 {
  background-color: #00348a; }

.gr-border-color-green_1 {
  border-color: #8DC558; }

.gr-text-color-green_1 {
  color: #8DC558; }

.gr-background-color-green_1 {
  background-color: #8DC558; }

.gr-border-color-darkblue {
  border-color: #0C2577; }

.gr-text-color-darkblue {
  color: #0C2577; }

.gr-background-color-darkblue {
  background-color: #0C2577; }

.gr-border-circle {
  border-radius: 50%; }

.gr-border-rounded {
  border-radius: 1%; }

.gr-border-none {
  border-radius: 0; }

.gr-position-absolute absolute {
  position: absolute absolute; }

.gr-position-relative relative {
  position: relative relative; }

.gr-position-fixed fixed {
  position: fixed fixed; }

a:hover {
  text-decoration: none; }

.gr-text-decoration-none {
  text-decoration: none; }

.gr-text-break {
  word-wrap: break-word; }

.gr-text-lowercase {
  text-transform: lowercase; }

.gr-text-uppercase {
  text-transform: uppercase; }

.gr-text-capitalize {
  text-transform: capitalize; }

.gr-font-weight-100 {
  font-weight: 100; }

.gr-font-weight-200 {
  font-weight: 200; }

.gr-font-weight-300 {
  font-weight: 300; }

.gr-font-weight-400 {
  font-weight: 400; }

.gr-font-weight-500 {
  font-weight: 500; }

.gr-font-weight-600 {
  font-weight: 600; }

.gr-font-weight-700 {
  font-weight: 700; }

.gr-text-align-left {
  text-align: left; }

.gr-text-align-right {
  text-align: right; }

.gr-text-align-center {
  text-align: center; }

.gr-text-align-justify {
  text-align: justify; }

.gr-display-none {
  display: none; }

.gr-display-inline {
  display: inline; }

.gr-display-inline-block {
  display: inline-block; }

.gr-display-block {
  display: block; }

.gr-display-table {
  display: table; }

.gr-display-table-cell {
  display: table-cell; }

.gr-display-table-row {
  display: table-row; }

.gr-display-flex {
  display: flex; }

.gr-display-inline-flex {
  display: inline-flex; }

.gr-justify-content-center {
  justify-content: center; }

.gr-justify-content-between {
  justify-content: space-between; }

.gr-justify-content-evenly {
  justify-content: space-evenly; }

.gr-justify-content-start {
  justify-content: flex-start; }

@media (min-width: 576px) {
  .gr-display-sm-none {
    display: none; } }

@media (min-width: 576px) {
  .gr-display-sm-inline {
    display: inline; } }

@media (min-width: 576px) {
  .gr-display-sm-inline-block {
    display: inline-block; } }

@media (min-width: 576px) {
  .gr-display-sm-block {
    display: block; } }

@media (min-width: 576px) {
  .gr-display-sm-table {
    display: table; } }

@media (min-width: 576px) {
  .gr-display-sm-table-cell {
    display: table-cell; } }

@media (min-width: 576px) {
  .gr-display-sm-table-row {
    display: table-row; } }

@media (min-width: 576px) {
  .gr-display-sm-flex {
    display: flex; } }

@media (min-width: 576px) {
  .gr-display-sm-inline-flex {
    display: inline-flex; } }

@media (min-width: 768px) {
  .gr-display-md-none {
    display: none; } }

@media (min-width: 768px) {
  .gr-display-md-inline {
    display: inline; } }

@media (min-width: 768px) {
  .gr-display-md-inline-block {
    display: inline-block; } }

@media (min-width: 768px) {
  .gr-display-md-block {
    display: block; } }

@media (min-width: 768px) {
  .gr-display-md-table {
    display: table; } }

@media (min-width: 768px) {
  .gr-display-md-table-cell {
    display: table-cell; } }

@media (min-width: 768px) {
  .gr-display-md-table-row {
    display: table-row; } }

@media (min-width: 768px) {
  .gr-display-md-flex {
    display: flex; } }

@media (min-width: 768px) {
  .gr-display-md-inline-flex {
    display: inline-flex; } }

@media (min-width: 992px) {
  .gr-display-lg-none {
    display: none; } }

@media (min-width: 992px) {
  .gr-display-lg-inline {
    display: inline; } }

@media (min-width: 992px) {
  .gr-display-lg-inline-block {
    display: inline-block; } }

@media (min-width: 992px) {
  .gr-display-lg-block {
    display: block; } }

@media (min-width: 992px) {
  .gr-display-lg-table {
    display: table; } }

@media (min-width: 992px) {
  .gr-display-lg-table-cell {
    display: table-cell; } }

@media (min-width: 992px) {
  .gr-display-lg-table-row {
    display: table-row; } }

@media (min-width: 992px) {
  .gr-display-lg-flex {
    display: flex; } }

@media (min-width: 992px) {
  .gr-display-lg-inline-flex {
    display: inline-flex; } }

@media (min-width: 1260px) {
  .gr-display-xl-none {
    display: none; } }

@media (min-width: 1260px) {
  .gr-display-xl-inline {
    display: inline; } }

@media (min-width: 1260px) {
  .gr-display-xl-inline-block {
    display: inline-block; } }

@media (min-width: 1260px) {
  .gr-display-xl-block {
    display: block; } }

@media (min-width: 1260px) {
  .gr-display-xl-table {
    display: table; } }

@media (min-width: 1260px) {
  .gr-display-xl-table-cell {
    display: table-cell; } }

@media (min-width: 1260px) {
  .gr-display-xl-table-row {
    display: table-row; } }

@media (min-width: 1260px) {
  .gr-display-xl-flex {
    display: flex; } }

@media (min-width: 1260px) {
  .gr-display-xl-inline-flex {
    display: inline-flex; } }

@media (min-width: 1400px) {
  .gr-display-xxl-none {
    display: none; } }

@media (min-width: 1400px) {
  .gr-display-xxl-inline {
    display: inline; } }

@media (min-width: 1400px) {
  .gr-display-xxl-inline-block {
    display: inline-block; } }

@media (min-width: 1400px) {
  .gr-display-xxl-block {
    display: block; } }

@media (min-width: 1400px) {
  .gr-display-xxl-table {
    display: table; } }

@media (min-width: 1400px) {
  .gr-display-xxl-table-cell {
    display: table-cell; } }

@media (min-width: 1400px) {
  .gr-display-xxl-table-row {
    display: table-row; } }

@media (min-width: 1400px) {
  .gr-display-xxl-flex {
    display: flex; } }

@media (min-width: 1400px) {
  .gr-display-xxl-inline-flex {
    display: inline-flex; } }

.gr-form-input-control-hNf {
  border: 1px solid #E0E0E0;
  border-radius: 0px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding: 12px 22px;
  height: 45px; }
  .gr-form-input-control-hNf::placeholder {
    height: 43px;
    color: #bdbdbd;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter; }

.gr-mesh-form-control {
  border: 1px solid #000000;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0.35rem 0.75rem;
  max-height: 38px;
  color: #828282;
  line-height: 24px; }
  .gr-mesh-form-control::placeholder {
    height: 40px;
    color: #bdbdbd;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter; }
  .gr-mesh-form-control:hover {
    border: 1px solid #689ef9;
    border-radius: 0px; }
  .gr-mesh-form-control:active {
    border: 1px solid #689ef9;
    border-radius: 0px; }
  .gr-mesh-form-control:focus {
    border: 1px solid #689ef9;
    border-radius: 0px;
    outline-style: unset; }

/*# sourceMappingURL=font-utilities.css.map */