.gr-width-10 {
  width: calc(10* 1%); }

.gr-height-10 {
  height: calc(10* 1%); }

.gr-width-20 {
  width: calc(20* 1%); }

.gr-height-20 {
  height: calc(20* 1%); }

.gr-width-25 {
  width: calc(25* 1%); }

.gr-height-25 {
  height: calc(25* 1%); }

.gr-width-30 {
  width: calc(30* 1%); }

.gr-height-30 {
  height: calc(30* 1%); }

.gr-width-33 {
  width: calc(33* 1%); }

.gr-height-33 {
  height: calc(33* 1%); }

.gr-width-40 {
  width: calc(40* 1%); }

.gr-height-40 {
  height: calc(40* 1%); }

.gr-width-50 {
  width: calc(50* 1%); }

.gr-height-50 {
  height: calc(50* 1%); }

.gr-width-66 {
  width: calc(66* 1%); }

.gr-height-66 {
  height: calc(66* 1%); }

.gr-width-75 {
  width: calc(75* 1%); }

.gr-height-75 {
  height: calc(75* 1%); }

.gr-width-80 {
  width: calc(80* 1%); }

.gr-height-80 {
  height: calc(80* 1%); }

.gr-width-90 {
  width: calc(90* 1%); }

.gr-height-90 {
  height: calc(90* 1%); }

.gr-width-100 {
  width: calc(100* 1%); }

.gr-height-100 {
  height: calc(100* 1%); }

@media (min-width: 576px) {
  .gr-width-sm-10 {
    width: calc(10*  1%); }
  .gr-height-sm-10 {
    height: calc(10*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-20 {
    width: calc(20*  1%); }
  .gr-height-sm-20 {
    height: calc(20*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-25 {
    width: calc(25*  1%); }
  .gr-height-sm-25 {
    height: calc(25*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-30 {
    width: calc(30*  1%); }
  .gr-height-sm-30 {
    height: calc(30*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-33 {
    width: calc(33*  1%); }
  .gr-height-sm-33 {
    height: calc(33*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-40 {
    width: calc(40*  1%); }
  .gr-height-sm-40 {
    height: calc(40*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-50 {
    width: calc(50*  1%); }
  .gr-height-sm-50 {
    height: calc(50*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-66 {
    width: calc(66*  1%); }
  .gr-height-sm-66 {
    height: calc(66*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-75 {
    width: calc(75*  1%); }
  .gr-height-sm-75 {
    height: calc(75*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-80 {
    width: calc(80*  1%); }
  .gr-height-sm-80 {
    height: calc(80*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-90 {
    width: calc(90*  1%); }
  .gr-height-sm-90 {
    height: calc(90*  1%); } }

@media (min-width: 576px) {
  .gr-width-sm-100 {
    width: calc(100*  1%); }
  .gr-height-sm-100 {
    height: calc(100*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-10 {
    width: calc(10*  1%); }
  .gr-height-md-10 {
    height: calc(10*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-20 {
    width: calc(20*  1%); }
  .gr-height-md-20 {
    height: calc(20*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-25 {
    width: calc(25*  1%); }
  .gr-height-md-25 {
    height: calc(25*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-30 {
    width: calc(30*  1%); }
  .gr-height-md-30 {
    height: calc(30*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-33 {
    width: calc(33*  1%); }
  .gr-height-md-33 {
    height: calc(33*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-40 {
    width: calc(40*  1%); }
  .gr-height-md-40 {
    height: calc(40*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-50 {
    width: calc(50*  1%); }
  .gr-height-md-50 {
    height: calc(50*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-66 {
    width: calc(66*  1%); }
  .gr-height-md-66 {
    height: calc(66*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-75 {
    width: calc(75*  1%); }
  .gr-height-md-75 {
    height: calc(75*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-80 {
    width: calc(80*  1%); }
  .gr-height-md-80 {
    height: calc(80*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-90 {
    width: calc(90*  1%); }
  .gr-height-md-90 {
    height: calc(90*  1%); } }

@media (min-width: 768px) {
  .gr-width-md-100 {
    width: calc(100*  1%); }
  .gr-height-md-100 {
    height: calc(100*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-10 {
    width: calc(10*  1%); }
  .gr-height-lg-10 {
    height: calc(10*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-20 {
    width: calc(20*  1%); }
  .gr-height-lg-20 {
    height: calc(20*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-25 {
    width: calc(25*  1%); }
  .gr-height-lg-25 {
    height: calc(25*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-30 {
    width: calc(30*  1%); }
  .gr-height-lg-30 {
    height: calc(30*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-33 {
    width: calc(33*  1%); }
  .gr-height-lg-33 {
    height: calc(33*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-40 {
    width: calc(40*  1%); }
  .gr-height-lg-40 {
    height: calc(40*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-50 {
    width: calc(50*  1%); }
  .gr-height-lg-50 {
    height: calc(50*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-66 {
    width: calc(66*  1%); }
  .gr-height-lg-66 {
    height: calc(66*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-75 {
    width: calc(75*  1%); }
  .gr-height-lg-75 {
    height: calc(75*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-80 {
    width: calc(80*  1%); }
  .gr-height-lg-80 {
    height: calc(80*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-90 {
    width: calc(90*  1%); }
  .gr-height-lg-90 {
    height: calc(90*  1%); } }

@media (min-width: 992px) {
  .gr-width-lg-100 {
    width: calc(100*  1%); }
  .gr-height-lg-100 {
    height: calc(100*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-10 {
    width: calc(10*  1%); }
  .gr-height-xl-10 {
    height: calc(10*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-20 {
    width: calc(20*  1%); }
  .gr-height-xl-20 {
    height: calc(20*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-25 {
    width: calc(25*  1%); }
  .gr-height-xl-25 {
    height: calc(25*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-30 {
    width: calc(30*  1%); }
  .gr-height-xl-30 {
    height: calc(30*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-33 {
    width: calc(33*  1%); }
  .gr-height-xl-33 {
    height: calc(33*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-40 {
    width: calc(40*  1%); }
  .gr-height-xl-40 {
    height: calc(40*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-50 {
    width: calc(50*  1%); }
  .gr-height-xl-50 {
    height: calc(50*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-66 {
    width: calc(66*  1%); }
  .gr-height-xl-66 {
    height: calc(66*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-75 {
    width: calc(75*  1%); }
  .gr-height-xl-75 {
    height: calc(75*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-80 {
    width: calc(80*  1%); }
  .gr-height-xl-80 {
    height: calc(80*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-90 {
    width: calc(90*  1%); }
  .gr-height-xl-90 {
    height: calc(90*  1%); } }

@media (min-width: 1260px) {
  .gr-width-xl-100 {
    width: calc(100*  1%); }
  .gr-height-xl-100 {
    height: calc(100*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-10 {
    width: calc(10*  1%); }
  .gr-height-xxl-10 {
    height: calc(10*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-20 {
    width: calc(20*  1%); }
  .gr-height-xxl-20 {
    height: calc(20*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-25 {
    width: calc(25*  1%); }
  .gr-height-xxl-25 {
    height: calc(25*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-30 {
    width: calc(30*  1%); }
  .gr-height-xxl-30 {
    height: calc(30*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-33 {
    width: calc(33*  1%); }
  .gr-height-xxl-33 {
    height: calc(33*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-40 {
    width: calc(40*  1%); }
  .gr-height-xxl-40 {
    height: calc(40*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-50 {
    width: calc(50*  1%); }
  .gr-height-xxl-50 {
    height: calc(50*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-66 {
    width: calc(66*  1%); }
  .gr-height-xxl-66 {
    height: calc(66*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-75 {
    width: calc(75*  1%); }
  .gr-height-xxl-75 {
    height: calc(75*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-80 {
    width: calc(80*  1%); }
  .gr-height-xxl-80 {
    height: calc(80*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-90 {
    width: calc(90*  1%); }
  .gr-height-xxl-90 {
    height: calc(90*  1%); } }

@media (min-width: 1400px) {
  .gr-width-xxl-100 {
    width: calc(100*  1%); }
  .gr-height-xxl-100 {
    height: calc(100*  1%); } }

.gr-wrapper {
  width: 100%; }

.gr-container {
  max-width: 90%;
  margin: 0 auto; }

.gr-container-full {
  max-width: 100%;
  margin: 0 auto; }

@media (min-width: 576px) {
  .gr-container-sm {
    max-width: 540px; } }

@media (min-width: 768px) {
  .gr-container-md {
    max-width: 720px; } }

@media (min-width: 992px) {
  .gr-container-lg {
    max-width: 960px; } }

@media (min-width: 1260px) {
  .gr-container-xl {
    max-width: 1132px; } }

@media (min-width: 1400px) {
  .gr-container-xxl {
    max-width: 1400px; } }

.gr-width-fit-content {
  width: fit-content; }

.gr-fontWeight-100 {
  font-weight: 100; }

.gr-fontWeight-200 {
  font-weight: 200; }

.gr-fontWeight-300 {
  font-weight: 300; }

.gr-fontWeight-400 {
  font-weight: 400; }

.gr-fontWeight-500 {
  font-weight: 500; }

.gr-fontWeight-600 {
  font-weight: 600; }

.gr-fontWeight-700 {
  font-weight: 700; }

.gr-fontSize-m10 {
  font-size: -10rem; }

.gr-fontSize-m9 {
  font-size: -9rem; }

.gr-fontSize-m8 {
  font-size: -8rem; }

.gr-fontSize-m7 {
  font-size: -7rem; }

.gr-fontSize-m6 {
  font-size: -6rem; }

.gr-fontSize-m5 {
  font-size: -5rem; }

.gr-fontSize-m4 {
  font-size: -4rem; }

.gr-fontSize-m3 {
  font-size: -3rem; }

.gr-fontSize-m2 {
  font-size: -2rem; }

.gr-fontSize-m1 {
  font-size: -1rem; }

.gr-fontSize-0 {
  font-size: 0rem; }

.gr-fontSize-1 {
  font-size: 0.063rem; }

.gr-fontSize-2 {
  font-size: 0.125rem; }

.gr-fontSize-4 {
  font-size: 0.25rem; }

.gr-fontSize-8 {
  font-size: 0.5rem; }

.gr-fontSize-10 {
  font-size: 0.625rem; }

.gr-fontSize-12 {
  font-size: 0.75rem; }

.gr-fontSize-14 {
  font-size: 0.875rem; }

.gr-fontSize-16 {
  font-size: 1rem; }

.gr-fontSize-18 {
  font-size: 1.125rem; }

.gr-fontSize-20 {
  font-size: 1.25rem; }

.gr-fontSize-24 {
  font-size: 1.5rem; }

.gr-fontSize-28 {
  font-size: 1.75rem; }

.gr-fontSize-32 {
  font-size: 2rem; }

.gr-fontSize-36 {
  font-size: 2.25rem; }

.gr-fontSize-40 {
  font-size: 2.5rem; }

.gr-fontSize-48 {
  font-size: 3rem; }

.gr-fontSize-56 {
  font-size: 3.5rem; }

.gr-fontSize-64 {
  font-size: 4rem; }

.gr-fontSize-72 {
  font-size: 4.5rem; }

.gr-fontSize-100 {
  font-size: 6.25rem; }

.gr-fontSize-112 {
  font-size: 7rem; }

.gr-fontSize-120 {
  font-size: 7.5rem; }

.gr-fontSize-124 {
  font-size: 8rem; }

.gr-fontSize-136 {
  font-size: 8.5rem; }

.gr-fontSize-144 {
  font-size: 9rem; }

.gr-fontSize-152 {
  font-size: 9.5rem; }

.gr-fontSize-160 {
  font-size: 10rem; }

.gr-fontSize-168 {
  font-size: 10.5rem; }

.gr-fontSize-176 {
  font-size: 11rem; }

.gr-fontSize-184 {
  font-size: 11.5rem; }

.gr-fontSize-192 {
  font-size: 12rem; }

.gr-fontSize-200 {
  font-size: 12.5rem; }

@media (max-width: 780px) {
  .gr-fontSize-m10 {
    font-size: calc(-10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m9 {
    font-size: calc(-9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m8 {
    font-size: calc(-8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m7 {
    font-size: calc(-7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m6 {
    font-size: calc(-6* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m5 {
    font-size: calc(-5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m4 {
    font-size: calc(-4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m3 {
    font-size: calc(-3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m2 {
    font-size: calc(-2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m1 {
    font-size: calc(-1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-0 {
    font-size: calc(0* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-1 {
    font-size: calc(0.063* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-2 {
    font-size: calc(0.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-4 {
    font-size: calc(0.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-8 {
    font-size: calc(0.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-10 {
    font-size: calc(0.625* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-12 {
    font-size: calc(0.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-14 {
    font-size: calc(0.875* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-16 {
    font-size: calc(1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-18 {
    font-size: calc(1.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-20 {
    font-size: calc(1.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-24 {
    font-size: calc(1.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-28 {
    font-size: calc(1.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-32 {
    font-size: calc(2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-36 {
    font-size: calc(2.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-40 {
    font-size: calc(2.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-48 {
    font-size: calc(3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-56 {
    font-size: calc(3.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-64 {
    font-size: calc(4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-72 {
    font-size: calc(4.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-100 {
    font-size: calc(6.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-112 {
    font-size: calc(7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-120 {
    font-size: calc(7.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-124 {
    font-size: calc(8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-136 {
    font-size: calc(8.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-144 {
    font-size: calc(9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-152 {
    font-size: calc(9.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-160 {
    font-size: calc(10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-168 {
    font-size: calc(10.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-176 {
    font-size: calc(11* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-184 {
    font-size: calc(11.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-192 {
    font-size: calc(12* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-200 {
    font-size: calc(12.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m10 {
    font-size: calc(-10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m9 {
    font-size: calc(-9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m8 {
    font-size: calc(-8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m7 {
    font-size: calc(-7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m6 {
    font-size: calc(-6* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m5 {
    font-size: calc(-5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m4 {
    font-size: calc(-4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m3 {
    font-size: calc(-3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m2 {
    font-size: calc(-2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m1 {
    font-size: calc(-1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-0 {
    font-size: calc(0* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-1 {
    font-size: calc(0.063* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-2 {
    font-size: calc(0.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-4 {
    font-size: calc(0.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-8 {
    font-size: calc(0.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-10 {
    font-size: calc(0.625* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-12 {
    font-size: calc(0.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-14 {
    font-size: calc(0.875* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-16 {
    font-size: calc(1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-18 {
    font-size: calc(1.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-20 {
    font-size: calc(1.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-24 {
    font-size: calc(1.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-28 {
    font-size: calc(1.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-32 {
    font-size: calc(2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-36 {
    font-size: calc(2.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-40 {
    font-size: calc(2.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-48 {
    font-size: calc(3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-56 {
    font-size: calc(3.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-64 {
    font-size: calc(4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-72 {
    font-size: calc(4.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-100 {
    font-size: calc(6.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-112 {
    font-size: calc(7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-120 {
    font-size: calc(7.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-124 {
    font-size: calc(8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-136 {
    font-size: calc(8.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-144 {
    font-size: calc(9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-152 {
    font-size: calc(9.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-160 {
    font-size: calc(10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-168 {
    font-size: calc(10.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-176 {
    font-size: calc(11* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-184 {
    font-size: calc(11.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-192 {
    font-size: calc(12* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-200 {
    font-size: calc(12.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m10 {
    font-size: calc(-10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m9 {
    font-size: calc(-9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m8 {
    font-size: calc(-8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m7 {
    font-size: calc(-7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m6 {
    font-size: calc(-6* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m5 {
    font-size: calc(-5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m4 {
    font-size: calc(-4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m3 {
    font-size: calc(-3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m2 {
    font-size: calc(-2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m1 {
    font-size: calc(-1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-0 {
    font-size: calc(0* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-1 {
    font-size: calc(0.063* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-2 {
    font-size: calc(0.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-4 {
    font-size: calc(0.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-8 {
    font-size: calc(0.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-10 {
    font-size: calc(0.625* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-12 {
    font-size: calc(0.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-14 {
    font-size: calc(0.875* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-16 {
    font-size: calc(1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-18 {
    font-size: calc(1.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-20 {
    font-size: calc(1.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-24 {
    font-size: calc(1.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-28 {
    font-size: calc(1.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-32 {
    font-size: calc(2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-36 {
    font-size: calc(2.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-40 {
    font-size: calc(2.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-48 {
    font-size: calc(3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-56 {
    font-size: calc(3.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-64 {
    font-size: calc(4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-72 {
    font-size: calc(4.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-100 {
    font-size: calc(6.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-112 {
    font-size: calc(7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-120 {
    font-size: calc(7.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-124 {
    font-size: calc(8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-136 {
    font-size: calc(8.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-144 {
    font-size: calc(9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-152 {
    font-size: calc(9.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-160 {
    font-size: calc(10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-168 {
    font-size: calc(10.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-176 {
    font-size: calc(11* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-184 {
    font-size: calc(11.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-192 {
    font-size: calc(12* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-200 {
    font-size: calc(12.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m10 {
    font-size: calc(-10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m9 {
    font-size: calc(-9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m8 {
    font-size: calc(-8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m7 {
    font-size: calc(-7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m6 {
    font-size: calc(-6* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m5 {
    font-size: calc(-5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m4 {
    font-size: calc(-4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m3 {
    font-size: calc(-3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m2 {
    font-size: calc(-2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m1 {
    font-size: calc(-1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-0 {
    font-size: calc(0* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-1 {
    font-size: calc(0.063* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-2 {
    font-size: calc(0.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-4 {
    font-size: calc(0.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-8 {
    font-size: calc(0.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-10 {
    font-size: calc(0.625* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-12 {
    font-size: calc(0.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-14 {
    font-size: calc(0.875* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-16 {
    font-size: calc(1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-18 {
    font-size: calc(1.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-20 {
    font-size: calc(1.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-24 {
    font-size: calc(1.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-28 {
    font-size: calc(1.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-32 {
    font-size: calc(2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-36 {
    font-size: calc(2.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-40 {
    font-size: calc(2.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-48 {
    font-size: calc(3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-56 {
    font-size: calc(3.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-64 {
    font-size: calc(4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-72 {
    font-size: calc(4.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-100 {
    font-size: calc(6.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-112 {
    font-size: calc(7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-120 {
    font-size: calc(7.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-124 {
    font-size: calc(8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-136 {
    font-size: calc(8.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-144 {
    font-size: calc(9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-152 {
    font-size: calc(9.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-160 {
    font-size: calc(10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-168 {
    font-size: calc(10.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-176 {
    font-size: calc(11* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-184 {
    font-size: calc(11.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-192 {
    font-size: calc(12* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-200 {
    font-size: calc(12.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m10 {
    font-size: calc(-10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m9 {
    font-size: calc(-9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m8 {
    font-size: calc(-8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m7 {
    font-size: calc(-7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m6 {
    font-size: calc(-6* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m5 {
    font-size: calc(-5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m4 {
    font-size: calc(-4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m3 {
    font-size: calc(-3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m2 {
    font-size: calc(-2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-m1 {
    font-size: calc(-1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-0 {
    font-size: calc(0* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-1 {
    font-size: calc(0.063* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-2 {
    font-size: calc(0.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-4 {
    font-size: calc(0.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-8 {
    font-size: calc(0.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-10 {
    font-size: calc(0.625* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-12 {
    font-size: calc(0.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-14 {
    font-size: calc(0.875* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-16 {
    font-size: calc(1* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-18 {
    font-size: calc(1.125* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-20 {
    font-size: calc(1.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-24 {
    font-size: calc(1.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-28 {
    font-size: calc(1.75* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-32 {
    font-size: calc(2* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-36 {
    font-size: calc(2.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-40 {
    font-size: calc(2.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-48 {
    font-size: calc(3* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-56 {
    font-size: calc(3.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-64 {
    font-size: calc(4* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-72 {
    font-size: calc(4.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-100 {
    font-size: calc(6.25* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-112 {
    font-size: calc(7* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-120 {
    font-size: calc(7.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-124 {
    font-size: calc(8* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-136 {
    font-size: calc(8.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-144 {
    font-size: calc(9* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-152 {
    font-size: calc(9.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-160 {
    font-size: calc(10* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-168 {
    font-size: calc(10.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-176 {
    font-size: calc(11* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-184 {
    font-size: calc(11.5* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-192 {
    font-size: calc(12* 0.6rem); } }

@media (max-width: 780px) {
  .gr-fontSize-200 {
    font-size: calc(12.5* 0.6rem); } }

/*# sourceMappingURL=sizing.css.map */