/* Let's highlight canvas boundaries */
#gjs {
    border: 3px solid #444;
  }
  
  /* Reset some default styling */
  .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
  }
  .gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
  }
  .panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
  }
  .panel__basic-actions {
    position: initial;
  }
  .editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;
  }
  
  .editor-canvas {
    flex-grow: 1;
  }
  
  .panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
  }
  .panel__switcher {
    position: initial;
  }
  .panel__devices {
    position: initial;
  }
  .fa-desktop {
    content: url('./icons/screen.svg');
  }
  .fa-tablet {
    content: url('./icons/tab.svg');
  }
  .fa-mobile {
    content: url('./icons/smartphone.svg');
  }